:root {
  // font
  --font-family: "Rubik", sans-serif;

  // colors
  --light: #81d4fa;
  --primary: #2071e7;
  --dark: #2980b9;
  --text: #333;
  --background: #fafafa;
  --hint: #999;
  --border: #ddd;
}
